{{> message}}
<div class="container" style="max-width: 700px">
  <form action="/restaurants" method="post">
    <div class="card">
      <div class="card-header">
        <h3>餐廳資料表單</h3>
      </div>
      <div class="card-body">
        <div class="form-group" style="margin-bottom: 10px; display: flex;align-items:center;">
          <label for="name" style="flex:0 0 200px;">餐廳名稱</label>
          <input type="text" id="name" name="name" placeholder="請輸入店家名稱" style="flex:1" required>
        </div>

        <div class="form-group" style="margin-bottom: 10px; display: flex;align-items:center;">
          <label for="category" style="flex:0 0 200px;">餐廳類別</label>
          <input list="categoryList" id="category" name="category" placeholder="" style="flex:1" required>
          <datalist id="categoryList">
            <option value="美式"></option>
            <option value="中式"></option>
            <option value="義式"></option>
          </datalist>
        </div>

        <div class="form-group" style="margin-bottom: 10px; display: flex;align-items:center;">
          <label for="address" style="flex:0 0 200px;">餐廳地址</label>
          <input type="text" id="address" name="address" placeholder="請輸入餐廳地址" style="flex:1" required>
        </div>

        <div class="form-group" style="margin-bottom: 10px; display: flex;align-items:center;">
          <label for="phone" style="flex:0 0 200px;">餐廳電話</label>
          <input type="text" id="phone" name="phone" placeholder="請輸入餐廳電話" style="flex:1">
        </div>

        <div class="form-group" style="margin-bottom: 10px; display: flex;align-items:center;">
          <label for="description" style="flex:0 0 200px;">餐廳介紹</label>
          <textarea id="description" name="description" placeholder="請輸入關於餐廳任何事" rows="4" style="flex:1; height:300px">
          </textarea>
          {{!-- <input type="text" id="description" name="description" placeholder="請輸入關於餐廳任何事" style="flex:1; height:300px"> --}}
        </div>

        <div class="form-group" style="margin-bottom: 10px; display: flex;align-items:center;">
          <label for="rating" style="flex:0 0 200px;">餐廳評分</label>
          <input type="number" min="1" max="5" step="0.1" id="rating" name="rating" placeholder="請輸入 1~10分" style="flex:1;" required>
        </div>
      </div>
      <div class="card-footer">
        <button type="reset">清除</button>
        <a href="/restaurants">
          <button type="button">上一頁</button>
        </a>
        <button type="submit">新增餐廳</button>
      </div>
    </div>
  </form>
</div>

